.footer {
    background-color: lavender;
}
.container {
    width: 100px;
    height: 100px;
}
.header {
    text-align: center;
}
.about {
    font-style: oblique;
}
.link-light {
    color: white;
}